<section class="Info">
    <div ng-show="checkFrame(1)">
        <h1>Google Cloud Powershell</h1>
        <p>Blurb about powershell</p>
    </div>
    <div ng-show="checkFrame(2)">
        <h1>{{active}}</h1>
        <table>
            <tr ng-repeat="cmdlet in cmdlets[active].cmdlet">
                <td>{{cmdlet.name}}</td>
                <td>{{cmdlet.Description}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="checkFrame(3)">
        <h1>{{active}}</h1>
        <div ng-repeat="(key,value) in cmdlets[activeProduct].cmdlet[active]" 
             ng-if="key != 'name'">
            <h2>
                {{key}}
            </h2>
            <p>
                {{value}}
            </p>
        </div>
    </div>
</section>
