<section class="Info">
    <div ng-show="checkFrame(1)">
        <h1>Google Cloud Powershell</h1>
        <p>Blurb about powershell</p>
    </div>
    <div ng-show="checkFrame(2)">
        <h1>{{active}}</h1>
        <table>
            <tr ng-repeat="cmdlet in products[active]">
                <td ng-click="setFrame(3,cmdlet.name)" class="Cmdlet">{{cmdlet.name}}</td>
                <td>{{cmdlet.description}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="checkFrame(3)">
        <h1>{{active}}</h1>
        <div ng-repeat="(key,value) in products[activeProduct][active]" 
             ng-if="key != 'Name'">
            <h2>
                {{key.toUpperCase()}}
            </h2>
            <p>
                {{value}}
            </p>
        </div>
    </div>
</section>
