<section class="Info">
    <div ng-show="checkFrame(1)">
        <h1>Google Cloud Powershell</h1>
        <p>Blurb about powershell</p>
    </div>
    <div ng-show="checkFrame(2)">
        <h1>Google Cloud Platform DNS</h1>
        <table>
            <tr>
                <td>Get-GcdChange</td>
                <td>Lists the ManagedZone's Change resources.</td>
            </tr>
        </table>
    </div>
    <div ng-show="checkFrame(3)">
        <h1>Get-GcdChange</h1>
        <h2>
            SYNTAX
        </h2>
        <p>
            Get-GcdChange [-Project <string>] [-Zone] <string> [[-ChangeId] <string>] [<CommonParameters>]
        </p>
    </div>
</section>