<!DOCTYPE html>
<html class="google" lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    
    <div class="maia-nav" id="maia-nav-x" role="navigation">
      <div class="maia-aux">
        <ul>
          <li>
            <a href="{{ site.baseurl }}/">Home</a>
          </li>

          <li
              {% unless page.product or page.productName %}
                class="active"
              {% endunless %}>
            <a href="{{ site.baseurl }}/cmdlets/">Reference</a>
          </li>

          <!-- cmdlet-specific pages include the parent product. -->
          {% if page.product %}
          <li class="active">
            <a href="{{ site.baseurl }}/cmdlets/{{ page.product | slugify }}">{{ page.product }}</a>
          </li>
          {% endif %}

          <!-- product-specific pages. -->
          {% if page.productName %}
          <li class="active">
            <a href="{{ site.baseurl }}/cmdlets/{{ page.productName | slugify }}">{{ page.productName }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    
    <div id="maia-main" role="main">
      <div class="maia-teleport" id="content">
      {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script src="//www.google.com/js/maia.js">
    </script>
</body>
</html>
