<?xml version="1.0" encoding="utf-8"?>
<!--
TEMPORARY HACK: The .NET Client Libraries contain a few bugs that are blocking
PowerShell cmdlet development. Most noteably Uri parsing in .NET 4.0. This
NuGet config allows for custom packages (with the fixes) to be picked up,
instead of going to the officially released ones (without the fixes).

TODO(chrsmith): It will be a few more weeks until the fixes are made and the
.NET Client Libraries are republished. Create a public MyGet repository.
-->
<configuration>
  <packageSources>
    <add key="Private build of .NET Client Libraries (Support)"
        value="C:\src\github.com\mmdriley\google-api-dotnet-client\NuPkgs\Support">
    </add>
    <add key="Private build of .NET Client Libraries (Generated)"
        value="C:\src\github.com\mmdriley\google-api-dotnet-client\NuPkgs\Generated">
    </add>
    <add key="Official NuGet.org"
         value="https://api.nuget.org/v3/index.json">
    </add>
  </packageSources>
</configuration>