/* TODO: Bootstrap, hit this with the css hammer to make sure it's standard. */
/* Table of contents */
.table-of-contents {
    /*light grey color*/
    background-color: #fafafa;
    float: left;
    height: 800px;
    margin-top: 10px;
    overflow: hidden;
    height: 1%;
    width: 350px;
}

/* Reference pages */
.information-area {
    margin-left: 420px;
    position: static;
    width: 1300px;
    word-wrap: break-word;
}

/* cmdlet link */
.link {
    /*Darker blue color*/
    color: #4285f6;
    cursor: pointer;
}

/* cmdlet name in product table */
.cmdletName {
    /*Darker blue color*/
    color: #4285f6;
    cursor: pointer;
    margin-left: 20px;
}

/* The cell for the cmdlet in the product table */
.cmdlet-cell {
    width: 20%;
}