/* TODO: Bootstrap, hit this with the css hammer to make sure it's standard. */
.table-of-contents {
    /*light grey color*/
    background-color: #fafafa;
    float: left;
    height: 800px;
    margin-top: 10px;
    overflow: hidden;
    height: 1%;
    width: 400px;
}
.information-area {
    margin-left: 420px;
    position: static;
    width: 1200px;
    word-wrap: break-word;
}
.link {
    /*Darker blue color*/
    color: #4285f6;
    cursor: pointer;
}

.cmdletName {
    /*Darker blue color*/
    color: #4285f6;
    cursor: pointer;
    margin-left: 20px;
}
