<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Google.Apis" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Bigquery.v2" version="1.20.0.744" targetFramework="net452" />
  <package id="Google.Apis.CloudResourceManager.v1" version="1.20.0.734" targetFramework="net452" />
  <package id="Google.Apis.Compute.v1" version="1.20.0.692" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Dns.v1" version="1.20.0.699" targetFramework="net452" />
  <package id="Google.Apis.Logging.v2" version="1.20.0.733" targetFramework="net452" />
  <package id="Google.Apis.Pubsub.v1" version="1.20.0.708" targetFramework="net452" />
  <package id="Google.Apis.SQLAdmin.v1beta4" version="1.20.0.719" targetFramework="net452" />
  <package id="Google.Apis.Storage.v1" version="1.20.0.713" targetFramework="net452" />
  <package id="log4net" version="2.0.7" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>