.TOC {
    background-color: #fafafa;
    float:left;
    height: 800px;
    margin-top: 10px;
    position: static;
    width: 400px;
}
.Info {
    float:left;
    margin-left: 20px;
    position: static;
}
.Link {
    color: #4285f6;
    cursor: pointer;
}

.Cmdlet {
    color: #4285f6;
    cursor: pointer;
    margin-left: 20px;
}