.TOC {
    background-color: #fafafa;
    float:left;
    height: 800px;
    margin-top: 10px;
    overflow-y: auto;
    position: fixed;
    width: 400px;
}
.Info {
    margin-left: 420px;
    position: static;
    width: 1200px;
    word-wrap: break-word;
}
.Link {
    color: #4285f6;
    cursor: pointer;
}

.Cmdlet {
    color: #4285f6;
    cursor: pointer;
    margin-left: 20px;
}
