<!DOCTYPE html>
<html class="google-js" lang="en" ng-app="powershellSite">
<head>
  <meta charset="utf-8">
  <!-- MAIA CSS initialization. -->
  <script>
      (function(H){H.className=H.className.replace(/\bgoogle\b/,'google-js')})(document.documentElement)
  </script>
  <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <meta name="description" content="Google Cloud powershell reference website.">
  <base href="/">
  <link rel="shortcut icon" href="https://cloud.google.com/images/gcp-favicon.ico">

  <title>Google Cloud PowerShell Cmdlet Reference</title>
  <script src="//www.google.com/js/google.js"></script>
  <link rel="canonical" href="//googlecloudplatform.github.io/google-cloud-powershell/cmdlets/">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en">
  <link rel="stylesheet" href="static/css/maia.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <script src="static/scripts/angular.min.js"></script>
  <script src="static/scripts/angular-route.min.js"></script>
  <script src="static/app/app.js"></script>
  <script src="static/app/main_controller.js"></script>
  <script src="static/app/table_controller.js"></script>
  <script src="static/app/cmdlet_filter.js"></script>
</head>
<body ng-app="powershellSite">

  <div class="header">
    <header>
      <div class="maia-header" id="maia-header" role="banner">
        <div class="maia-aux">
          <a href="">
            <h1>
              <img alt="Google" src="static/images/google.png">&nbsp;Cloud Platform
            </h1>
            <h2>
              PowerShell
            </h2>
          </a>
        </div>
      </div>
    </header>
    <div class="maia-nav" id="maia-nav-x" role="navigation">
      <div class="maia-aux">
        <ul>
          <li>
            <a href="/google-cloud-powershell/">Home</a>
          </li>

          <li class="active">
            <a href="/">Reference</a>
          </li>

          <li>
            <a href="https://github.com/GoogleCloudPlatform/google-cloud-powershell">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div ng-controller="MainController as mainCtrl">
    <!-- The loader. -->
    <p ng-if="mainCtrl.loading">Loading...</p>
    <!-- The TOC body. -->
    <content-table ng-if="!mainCtrl.loading" product-info="mainCtrl.productInfo"></content-table>
    <!-- The Information body. -->
    <ng-view id="reference" ng-if="!mainCtrl.loading"></ng-view>
  </div>
  <!-- The maia footer. -->
  <div class="maia-footer" id="maia-footer">
    <div id="maia-footer-global">
      <div class="maia-aux">
        <ul>
          <li>
            <a href="//www.google.com/">Google</a>
          </li>
          <li>
            <a href="//www.google.com/intl/en/about/">About Google</a>
          </li>
          <li>
            <a href="//www.google.com/intl/en/policies/privacy/">Privacy</a>
          </li>
          <li>
            <a href="//www.google.com/intl/en/policies/terms/">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
