<footer>
    <div id="maia-signature"></div>
        <div class="maia-footer" id="maia-footer">
            <div id="maia-footer-global">
                <div class="maia-aux">
                <ul>
                    <li>
                        <a href="//www.google.com/">Google</a>
                    </li>
                    <li>
                        <a href="//www.google.com/intl/en/about/">About Google</a>
                    </li>
                    <li>
                        <a href="//www.google.com/intl/en/policies/privacy/">Privacy</a>
                    </li>
                    <li>
                        <a href="//www.google.com/intl/en/policies/terms/">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
