<header>
    <div class="maia-header" id="maia-header" role="banner">
        <div class="maia-aux">
            <h1>
                <a href="{{ site.baseurl }}/">
                    <img alt="Google" src="//www.google.com/images/branding/googlelogo/1x/googlelogo_color_116x41dp.png">&nbsp;Cloud Platform
                </a>
            </h1>
            <h2>
                <a "href="{{ site.baseurl }}/">PowerShell</a>
            </h2><a class="maia-teleport" href="#content">Skip to content</a>
        </div>
    </div>
</header>
