<div ng-show="!mainCtrl.errorLoading && mainCtrl.params.product != undefined" 
  class="information-area">
  <h1>{{mainCtrl.params.cmdlet}}</h1>
  <!-- Display all applicable information for a cmdlet. 
    An order has to be imposed, as JSON Objects are unordered. -->
  <div ng-repeat="property in mainCtrl.order">
    <h2>
      {{property.toUpperCase()}}
    </h2>
    <pre ng-if="property != 'parameters'")>
      {{mainCtrl.getProperty(property)}}
    </pre>
    <parameter-table ng-if="property === 'parameters'"></parameter-table>
  </div>
  <!-- Displays all related links for a cmdlet. -->
  <div ng-show="!mainCtrl.isEmpty(mainCtrl.getProperty('links'))">
    <h2>Related Links</h2>
    <div ng-repeat="(text,link) in mainCtrl.getProperty('links')">
      <a href="{{link}}">{{text}}</a>
    </div>
  </div>
</div>
<p ng-if="mainCtrl.errorLoading">Could not load cmdlet information.</p>
<p ng-show="mainCtrl.params.product === undefined">Invalid Product or Cmdlet</p>
