<div class="table-of-contents">
    <strong>GCP Powershell Products</strong>
    <!-- Displays all available products, and their cmdlet if expanded. -->
    <div ng-repeat="(product,value) in products">
        <a href="/{{product}}" ng-click="table.clickProduct(product)" class="link">{{product}}</a>
        <div ng-show="table.isExpanded(product)" ng-repeat="(order,cmdlet) in value | orderByCmdletProp: 'name'" >
            <a href="/{{product}}/{{cmdlet.name}}" class="cmdlet">{{cmdlet.name}}</a>
        </div>
    </div>
</div>
