<div ng-show="!mainCtrl.errorLoading && mainCtrl.params.product != undefined"
  class="information-area">
  <h1>{{mainCtrl.params.product}}</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Synopsis</th>
    </tr>
    <!-- We should display all cmdlets for a product -->
    <tr ng-repeat="(order,cmdlet) in mainCtrl.productInfo[mainCtrl.params.product] | orderByCmdletProp: 'name'">
      <td class="cmdlet-cell">
        <a href="/{{mainCtrl.params.product}}/{{cmdlet.name}}"class="cmdletName">{{cmdlet.name}}</a>
      </td>
      <td>{{cmdlet.synopsis}}</td>
    </tr>
  </table>
</div>
<p ng-if="mainCtrl.errorLoading">Could not load cmdlet information.</p>
<p ng-show="mainCtrl.params.product === undefined">Invalid Product or Cmdlet</p>
