<div class="informationArea">
    <h1>{{refCtrl.params.product}}</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <!-- Display all applicable information for a cmdlet -->
        <tr ng-repeat="(order,cmdlet) in productInfo[refCtrl.params.product] | orderByCmdletProp: 'name'">
            <td>
                <a href="/{{refCtrl.params.product}}/{{cmdlet.name}}"class="cmdletName">{{cmdlet.name}}</a>
            </td>
            <td>{{cmdlet.description}}</td>
        </tr>
    </table>
</div>
