---
layout: default
title: Cmdlet Reference
---

<div class="home">
    <h1>Cmdlet Reference</h1>
    <p>This page contains information about the Google Cloud PowerShell cmdlets available.</p>
    {% assign cmdlets_by_resource = site.data.cmdlets | group_by:"resource" %}
    {% for cmdlets in cmdlets_by_resource %}
        <h2>{{ cmdlets.name }}</h2>
        <ul>
        {% for cmdlet in cmdlets.items %}
            <li><a href="cmdlets/{{ cmdlet.cmdletName | downcase }}.html">{{ cmdlet.cmdletName }}</a>
        {% endfor %}
        </ul>
    {% endfor %}
</div>
