/**
 * CSS styles specific to the cmdlet page.
 */

/**
 * #cmdlet-list
 * The table showing cmdlet names and their descriptions. 
 */
table#cmdlet-list {
    font-family: "Roboto";
    color: rgba(0,0,0,.87);

    border: 1px solid rgba(0,0,0,0.08);
    min-width: 100%;
}

#cmdlet-list th {
    border: 1px solid rgba(0,0,0,0.08);
    padding: 16px 12px 16px 12px;
    width: 50%; min-width: 50%;
}

#cmdlet-list td {
    border: 1px solid rgba(0,0,0,0.08);
    width: 50%; min-width: 50%;
    /**
     * CSS Hack: The td > a selector below won't use height 100% unless the td has
     * a specified height. (Will obviously grow to be more than 1px.)
     */
    height: 1px;
 }

/* Make full cell selectable. */
#cmdlet-list td > a {
    padding: 16px 12px 16px 12px;
    display: block;
    height: 100%;
}

#cmdlet-list th {
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    background-color: rgba(0,0,0,.04);
}

#cmdlet-list tr:hover {
    background-color: rgba(0,0,0,.04);
}

#cmdlet-list td.psr-cmdletName {
    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;
}

#cmdlet-list td.psr-cmdletDescription {
    font-size: 16px;
    line-height: 28px;
}

/**
 * Syntax-widget related styles.
 */
.psr-syntaxWidget {
    padding: 8px;
    background-color: rgba(0,0,0, 0.04);

    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;

    margin-bottom: 16px;
}

.psr-syntaxWidget.selected {
    outline: 2px solid rgba( 59, 120, 231, .50); 
}

.psr-syntaxWidget:hover {
    outline: 2px solid rgba( 55,  71 , 79, .50);
}

/** A better way to have the .selected override the :hover behavior? */
.psr-syntaxWidget.selected {
    outline: 2px solid rgba( 59, 120, 231, .50);
    background-color: rgba(161, 194, 250,.06); 
}

/** Hide the parameter set name unless you hover over the syntax widget or it is selected. */
.psr-syntaxWidget .parameterSetName {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: rgba(0,0,0,.54);
    padding: 8px 8px;

    float: right;
    display: none;
}

.psr-syntaxWidget.selected .parameterSetName {
    display: inline-block;
}

.psr-syntaxWidget:hover .parameterSetName {
    display: inline-block;
} 

.psr-syntaxWidget .cmdletName {
    color: rgba(55,71,79,.87);
}

.psr-syntaxWidget .reqParameter {
    color: rgba(59,120,231,.87);
}

.psr-syntaxWidget .typeName {
    color: rgba(67,160,71,.87);
}

/**
 * #cmdlet-parameters
 * Table showing all of the cmdlet's parameters.
 */
#cmdlet-parameters table,
#cmdlet-parameters th,
#cmdlet-parameters td {
    border: 1px solid rgba(0,0,0,0.08);
    padding: 16px 12px 16px 12px;
}

#cmdlet-parameters tr:hover {
    background-color: rgba(0,0,0,.04);
}

#cmdlet-parameters tr.inSelectedParamSet {
    /** Theme row active - Google Blue 200 */
    background-color: rgba(161, 194, 250,.06);
}

#cmdlet-parameters tr.notInSelectedParamSet {
    color: rgba(0,0,0,.47);
}

#cmdlet-parameters td.name {
    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;
    color: rgba(0,0,0,.87);

    width: 25%;
    min-width: 75%;
}

#cmdlet-parameters td.name {
    color: rgba(0,0,0,.65);
}

#cmdlet-parameters tr.notInSelectedParamSet td.name {
    color: rgba(0,0,0,.25);
}

#cmdlet-parameters td.description {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 26px;
    color: rgba(0,0,0,.87);

    width: 80%;
    min-width: 80%;
}

#cmdlet-parameters tr.notInSelectedParamSet td.description {
    color: rgba(0,0,0,.25);
}

#cmdlet-parameters td.description .metadata {
    font-style: italic;
    color: rgba(0,0,0,.54);
}

#cmdlet-parameters tr.notInSelectedParamSet td.description .metadata {
    color: rgba(0,0,0,.15);
}

/** We can't have both float, since the metadata div won't take up any space. */
#cmdlet-parameters td.description .metadata .type     { text-align: left;  }
#cmdlet-parameters td.description .metadata .optional { float: right; }

/**
 * #cmdlet-examples
 * List of examples.
 */
#cmdlet-examples pre {
    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;
    color: rgba(0,0,0,.87);

    white-space:pre-wrap;

    padding: 12px;
    background-color: rgba(0,0,0, 0.04);

    margin-bottom: 0;
}

#cmdlet-examples .psr-example {
    margin-bottom: 16px;
}

/**
 * #cmdlet-links
 * Additional links relevant to the cmdlet.
 */
#cmdlet-links {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 26px;
 
    /* Theme primary - Google Blue 600 */
    color: #3B78E7;
}

#cmdlet-links a:hover {
    text-decoration: underline;
}

#cmdlet-links a:active,
#cmdlet-links a:visited {
    /* Theme attribute, variable - Purple 500 */
    /* color: #433944 -- looks off. Use default instead. */
    color: #551A8B;
}
