/**
reset5 © 2011 opensource.736cs.com MIT
https://code.google.com/archive/p/reset5/
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}

/**
 * Global styles.
 */
html,body {
    background-color: #FAFAFA;
    height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

h {
    font-weight: inherit;
}

pre {
    overflow: auto;
}

/**
 * Main content.
 */
.psr-main {
    display: flex;
    /* Take up at least one screen (minus header) so the vert line separating
       left nav from content doesn't stop off when the left-nav is collapsed. */
    min-height: calc(100% - 68px);
}

/**
 * #header
 * Top header.
 */
#header {
    /* Theme primary text inverse - 100% white */
    color: #FFF;
    /* Theme primary - Google Blue 600 */
    background-color: #3B78E7;
 
    height: 68px;
    /* Same as #content-container, otherwise bugs on h-scroll. */
    min-width: 800px;
    width: 100%;
}

/* Hack to enable vertical alignment. This and the `#header *` selector are
   crazy-fragile. You have been warned. */
#header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#header * {
  display: inline-block;
  vertical-align: middle;
}

#header .psr-headerIcon {
    margin-left: 24px;
    margin-right: 24px;

    background-image: url("/google-cloud-powershell/img/gcp-logo.png");
    background-repeat: no-repeat;
    background-position: center;

    width: 25px;  min-width: 25px;
    height: 25px; min-height: 25px;
}

#header .psr-headerText {
    margin-left: 24px;

    font-size: 20px;
    line-height: 36px;
    font-family: "Open Sans";
    font-weight: 100;
}

/**
 * #left-nav, #left-nav-top, #left-nav-bottom
 * The left nav pane, browsing cmdlets. Broken into two sections.
 */
#left-nav {
    border-bottom: 1px solid rgba(0,0,0,0.08);
    /** Can't specify "width" because #content-container has width at 100%. */
    min-width: 336px;
    height: 100%;
}

/**
 * #top-nav
 * Top nav bar. Hidden unless the screen is small.
 */
#top-nav-container {
    display: none;
    height: 36px;
    min-width: 100%;
}

#top-nav {
    height: 36px;

    font-family: "Roboto";
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, .54);
    background-color: rgba(59, 120, 231,0.8);
    /**
     * Hack: The top-nav is moved right 1px because of the border-left on the
     * contentContainer. But we cannot remove that, because otherwise some pages
     * look odd because the #left-nav right border is shorter than the content.
     */
    outline: 1px solid rgba(59, 120, 231,0.8);

    /** For overflow behavior on long cmdlet names. */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    padding-left: 12px;
}

/* Hack to center align all elements. */
#top-nav:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#top-nav * {
  display: inline-block;
  vertical-align: middle;
}

#top-nav .top-navSection {
    padding-bottom: 0;
}

/** Shop top nav instead of left on small screens. */
@media only screen and (max-width: 1160px) {
  #left-nav { 
    display: none; 
  }
  #top-nav-container {
    display: block;
  }
}

.psr-navRow {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.psr-navRow {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;

    display: flex;
}

.psr-navRow:hover {
    background-color: rgba(0,0,0,0.04);
}

.psr-navRow.level2 {
    padding-left: 48px;
}

.psr-navRow.level3 {
    padding-left: 108px;
}

.psr-navRow.noBottomSeparator {
    border-bottom: none;
}

/* But put a line for the next psr-navRow. */
.psr-navRow-cmdlet:last-of-sequence {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.psr-navRow.highlight {
    background-color: rgba(0,0,0,0.04);
}

.psr-navIcon {
    width: 24px;  min-width: 24px;
    height: 24px; min-height: 24px;

    background-repeat: no-repeat;
    background-position: center; 
}

.psr-navIcon.collapsed     { background-image: url("/google-cloud-powershell/img/node-unexpended.png");    }
.psr-navIcon.expanded      { background-image: url("/google-cloud-powershell/img/node-expanded.png");      }
.psr-navIcon.sourcecode    { background-image: url("/google-cloud-powershell/img/github-logo.png");        }
.psr-navIcon.feedback      { background-image: url("/google-cloud-powershell/img/feedback.png");           }
.psr-navIcon.stackoverflow { background-image: url("/google-cloud-powershell/img/stackoverflow-logo.png"); }

.psr-navText {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, .54);

    /** For overflow behavior on long cmdlet names. */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    padding-left: 12px;
}

/**
 * #content-container
 * The container for the content. Keep content within a 768px column, centered
 * within the available area.
 */
#content-container {
    /* Hack- Full-page line, even if #content-container is longer than #left-nav. */
    border-left: 1px solid rgba(0,0,0,0.08);
    min-height: 100%;

    min-width: 800px;
    width: 100%;

    padding-bottom: 24px;
}

#content-container .psr-contentBlock {
    margin: auto;
    min-width: 768px;
    max-width: 768px;
}

/**
 * #content-header
 * Header for all content pages.
 */
#content-header {
    color: #3B78E7;
    background-color: rgba(0,0,0, 0.04);
    height: 114px;

    margin-bottom: 24px;
}

/* Schenanigans to make the content text centered vertically. */
#content-header .psr-contentHeaderContainer {
    display: table;
    height: 114px;
 }

#content-header h1 {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;

    display: table-cell;
    vertical-align: middle;
}

/**
 * Content page styles.
 */
.psr-contentText {
    font-family: "Roboto";
    font-size: 16pt;
    line-height: 28pt;
    color: rgba(0,0,0,.87);
}

.psr-contentText p {
    margin-bottom: 16px;
}

/**
 * .psr-contentTable
 * Basic one-column table. 
 */
.psr-contentTable {
    font-family: "Roboto";
    font-size: 14pt;
    line-height: 26pt;
    color: rgba(0,0,0,.87);
    min-width: 100%;
}

.psr-contentTable table, th, td {
    border: 1px solid rgba(0,0,0,0.08);
    padding: 16px 12px 16px 12px;
    min-width: 100%;
}

.psr-contentTable th {
    text-align: left;

    font-family: "Roboto";
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    color: rgba(0,0,0,.87);

    background-color: rgba(0,0,0,.04);
}

.psr-contentTable tr:hover {
    background-color: rgba(0,0,0,.04);
}

/**
 * #content-product-description
 * Generic HTML content descripting a GCP product.
 */
#content-product-description {
    font-family: "Roboto";
    font-size: 14pt;
    line-height: 26pt;
    color: rgba(0,0,0,.87);
}

#content-product-description p {
    margin-bottom: 16px;
}

#content-product-description pre {
    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;
    color: rgba(0,0,0,.87);

    padding: 12px 12px;
    background-color: rgba(0,0,0, 0.04);
    margin-bottom: 16px;

    overflow: auto;
}


/** The the applyHtmlStyling filter for more information. */
code { font-family: "Roboto Mono"; }
code.text   { color: rgba( 67, 160,  71, .87); }
code.cmdlet { color: rgba( 59, 120, 231, .87); }

#content-container h2 {
    font-family: "Roboto";
    font-size: 20pt;
    line-height: 36pt;
    font-weight: 300;
    color: rgba(0,0,0,.54);
}

/**
 * #cmdlet-list
 * The table showing cmdlet names and their descriptions. 
 */
#cmdlet-list table, th, td {
    border: 1px solid rgba(0,0,0,0.08);
    padding: 16px 12px 16px 12px;
    width: 50%; min-width: 50%;
}

#cmdlet-list th {
    text-align: left;

    font-family: "Roboto";
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    color: rgba(0,0,0,.87);

    background-color: rgba(0,0,0,.04);
}

#cmdlet-list tr:hover {
    background-color: rgba(0,0,0,.04);
}

#cmdlet-list .psr-cmdletName {
    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;
    color: rgba(0,0,0,.87);
}

#cmdlet-list .psr-cmdletDescription {
    font-family: "Roboto";
    font-size: 14pt;
    line-height: 26pt;
    color: rgba(0,0,0,.87);
}

/**
 * Syntax-widget related styles.
 */
.psr-syntaxWidget {
    padding: 8px 8px;
    background-color: rgba(0,0,0, 0.04);

    font-family: "Roboto Mono";
    font-size: 16pt;
    line-height: 28pt;

    margin-bottom: 16px;
}

.psr-syntaxWidget.selected {
    outline: 2px solid rgba( 59, 120, 231, .50); 
}

.psr-syntaxWidget:hover {
    outline: 2px solid rgba( 55,  71 , 79, .50);
}

/** A better way to have the .selected override the :hover behavior? */
.psr-syntaxWidget.selected {
    outline: 2px solid rgba( 59, 120, 231, .50);
    background-color: rgba(161, 194, 250,.06); 
}

/** Hide the parameter set name unless you hover over the syntax widget or it is selected. */
.psr-syntaxWidget .parameterSetName {
    font-family: "Roboto";
    font-size: 12pt;
    line-height: 16pt;
    font-style: italic;
    color: rgba(0,0,0,.54);
    padding: 8px 8px;

    float: right;
    display: none;
}

.psr-syntaxWidget.selected .parameterSetName {
    display: inline-block;
}

.psr-syntaxWidget:hover .parameterSetName {
    display: inline-block;
} 

.psr-syntaxWidget .cmdletName   { color: rgba( 55,  71 , 79, .87); }
.psr-syntaxWidget .reqParameter { color: rgba( 59, 120, 231, .87); }
.psr-syntaxWidget .typeName     { color: rgba( 67, 160,  71, .87); }

/**
 * #cmdlet-parameters
 * Table showing all of the cmdlet's parameters.
 */
#cmdlet-parameters table, th, td {
    border: 1px solid rgba(0,0,0,0.08);
    padding: 16px 12px 16px 12px;
}

#cmdlet-parameters tr:hover {
    background-color: rgba(0,0,0,.04);
}

#cmdlet-parameters tr.inSelectedParamSet {
    /** Theme row active - Google Blue 200 */
    background-color: rgba(161, 194, 250,.06);
}

#cmdlet-parameters tr.notInSelectedParamSet {
    color: rgba(0,0,0,.47);
}

#cmdlet-parameters td.name {
    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;
    color: rgba(0,0,0,.87);

    width: 25%;
    min-width: 75%;
}

#cmdlet-parameters td.name {
    color: rgba(0,0,0,.65);
}

#cmdlet-parameters .notInSelectedParamSet td.name {
    color: rgba(0,0,0,.25);
}

#cmdlet-parameters td.description {
    font-family: "Roboto";
    font-size: 14pt;
    line-height: 26pt;
    color: rgba(0,0,0,.87);

    width: 80%;
    min-width: 80%;
}

#cmdlet-parameters .notInSelectedParamSet td.description {
    color: rgba(0,0,0,.25);
}

#cmdlet-parameters td.description .metadata {
    font-style: italic;
    color: rgba(0,0,0,.54);
}

/** We can't have both float, since the metadata div won't take up any space. */
#cmdlet-parameters td.description .metadata .type     { text-align: left;  }
#cmdlet-parameters td.description .metadata .optional { float: right; }

/**
 * #cmdlet-examples
 * List of examples.
 */
#cmdlet-examples .psr-exampleCodeContainer {
    font-family: "Roboto Mono";
    font-size: 16px;
    line-height: 28px;
    color: rgba(0,0,0,.87);

    padding: 12px 12px;
    background-color: rgba(0,0,0, 0.04);
}

#cmdlet-examples .psr-example {
    padding-bottom: 16px;
}

/**
 * #cmdlet-links
 * Additional links relevant to the cmdlet.
 */
#cmdlet-links {
    font-family: "Roboto";
    font-size: 14pt;
    line-height: 26pt;
 
    /* Theme primary - Google Blue 600 */
    color: #3B78E7;
}

#cmdlet-links a:hover {
    text-decoration: underline;
}

#cmdlet-links a:active,
#cmdlet-links a:visited {
    /* Theme attribute, variable - Purple 500 */
    /* color: #433944 -- looks off. Use default instead. */
    color: #551A8B;
}
